node_modules/

.env

logs
*.log
npm-debug.log*

dist/
build/
.next/

.DS_Store
Thumbs.db

.vscode/

*.lock

# env variants
.env.*
!.env.example

# test coverage
coverage/

# OS
*.suo
*.ntvs*
*.njsproj
*.sln